# Imports

In [8]:
import json
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import os

### Competitions

In [9]:
with open("data/events/data/competitions.json","r") as file:
    fileData  = file.read()
    competitionData = json.loads(fileData)

In [10]:
competitionData

[{'competition_id': 2,
  'season_id': 281,
  'country_name': 'England',
  'competition_name': 'Premier League',
  'competition_gender': 'male',
  'competition_youth': False,
  'competition_international': False,
  'season_name': '2023/2024',
  'match_updated': '2024-07-16T12:54:16.568523',
  'match_updated_360': '2024-07-16T12:56:10.371083',
  'match_available_360': '2024-07-16T12:56:10.371083',
  'match_available': '2024-07-16T12:54:16.568523'},
 {'competition_id': 2,
  'season_id': 235,
  'country_name': 'England',
  'competition_name': 'Premier League',
  'competition_gender': 'male',
  'competition_youth': False,
  'competition_international': False,
  'season_name': '2022/2023',
  'match_updated': '2024-04-05T14:33:07.370343',
  'match_updated_360': '2024-06-11T07:27:40.753328',
  'match_available_360': '2024-06-11T07:27:40.753328',
  'match_available': '2024-04-05T14:33:07.370343'}]

In [12]:
rows = []
for _ in competitionData:
    row = []
    for key in _.keys():
        row.append(_[key])
    rows.append(row)
df_season = pd.DataFrame(rows, columns = _.keys())
df_season.to_csv("dataframes/df_season.csv")

In [13]:
df_season

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,2,281,England,Premier League,male,False,False,2023/2024,2024-07-16T12:54:16.568523,2024-07-16T12:56:10.371083,2024-07-16T12:56:10.371083,2024-07-16T12:54:16.568523
1,2,235,England,Premier League,male,False,False,2022/2023,2024-04-05T14:33:07.370343,2024-06-11T07:27:40.753328,2024-06-11T07:27:40.753328,2024-04-05T14:33:07.370343

In [14]:
row_24 = [2, 282, "England", "Premier League", "male", False, False, "2024/2025", np.nan, np.nan, np.nan, np.nan]
row_25 = [2, 283, "England", "Premier League", "male", False, False, "2025/2026", np.nan, np.nan, np.nan, np.nan]
row_26 = [2, 284, "England", "Premier League", "male", False, False, "2026/2027", np.nan, np.nan, np.nan, np.nan]
row_27 = [2, 285, "England", "Premier League", "male", False, False, "2027/2028", np.nan, np.nan, np.nan, np.nan]
row_28 = [2, 286, "England", "Premier League", "male", False, False, "2028/2029", np.nan, np.nan, np.nan, np.nan]
row_29 = [2, 287, "England", "Premier League", "male", False, False, "2029/2030", np.nan, np.nan, np.nan, np.nan]

df_season.loc[-1] = row_24
df_season.loc[-2] = row_25
df_season.loc[-3] = row_26
df_season.loc[-4] = row_27
df_season.loc[-5] = row_28
df_season.loc[-6] = row_29

df_season = df_season.sort_values(by="season_name").reset_index(drop=True) #, inplace=True)

In [15]:
df_season

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,2,235,England,Premier League,male,False,False,2022/2023,2024-04-05T14:33:07.370343,2024-06-11T07:27:40.753328,2024-06-11T07:27:40.753328,2024-04-05T14:33:07.370343
1,2,281,England,Premier League,male,False,False,2023/2024,2024-07-16T12:54:16.568523,2024-07-16T12:56:10.371083,2024-07-16T12:56:10.371083,2024-07-16T12:54:16.568523
2,2,282,England,Premier League,male,False,False,2024/2025,NaN,NaN,NaN,NaN
3,2,283,England,Premier League,male,False,False,2025/2026,NaN,NaN,NaN,NaN
4,2,284,England,Premier League,male,False,False,2026/2027,NaN,NaN,NaN,NaN
5,2,285,England,Premier League,male,False,False,2027/2028,NaN,NaN,NaN,NaN
6,2,286,England,Premier League,male,False,False,2028/2029,NaN,NaN,NaN,NaN
7,2,287,England,Premier League,male,False,False,2029/2030,NaN,NaN,NaN,NaN

In [16]:
df_season.to_csv("dataframes/df_seasons_improved.csv")

### Teams

In [17]:
rows = []
for _ in competitionData:
    season_id = _["season_id"]
    with open("data/events/data/matches/2/"+str(season_id)+".json","r") as file:
        fileData  = file.read()
        seasonMatches = json.loads(fileData)
        
    for _ in seasonMatches:
        row = []
        for key in _.keys():
            if key == "home_team":
                row.append(_[key]["home_team_id"])
                row.append(_[key]["home_team_name"])
                
        rows.append(row)
        
df_teams = pd.DataFrame(rows, columns = ["team_id","team_name"]).drop_duplicates()
df_teams.to_csv("dataframes/df_teams.csv")

In [18]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 0 to 314
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team_id    23 non-null     int64
 1   team_name  23 non-null     object
dtypes: int64(1), object(1)
memory usage: 552.0+ bytes

### Teams x Season

In [19]:
rows = []
for _ in competitionData:
    season_id = _["season_id"]
    with open("data/events/data/matches/2/"+str(season_id)+".json","r") as file:
        fileData  = file.read()
        seasonMatches = json.loads(fileData)
        
    for _ in seasonMatches:
        row = []
        for key in _.keys():
            if key == "season":
                row.append(_[key]["season_id"])
            elif key == "home_team":
                row.append(_[key]["home_team_id"])
                row.append(_[key]["home_team_name"])
                
        rows.append(row)
        
df_teams_season = pd.DataFrame(rows, columns = ["season_id","team_id","team_name"]).drop_duplicates()
df_teams_season.to_csv("dataframes/df_teams_season.csv")

In [20]:
df_teams_season[df_teams_season.season_id==235].info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 290 to 351
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season_id  20 non-null     int64
 1   team_id    20 non-null     int64
 2   team_name  20 non-null     object
dtypes: int64(2), object(1)
memory usage: 640.0+ bytes

In [21]:
df_teams_season[df_teams_season.season_id==281].info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 42
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season_id  20 non-null     int64
 1   team_id    20 non-null     int64
 2   team_name  20 non-null     object
dtypes: int64(2), object(1)
memory usage: 640.0+ bytes

### Matches

In [22]:
rows = []
for _ in competitionData:
    season_id = _["season_id"]
    with open("data/events/data/matches/2/"+str(season_id)+".json","r") as file:
        fileData  = file.read()
        seasonMatches = json.loads(fileData)
        
    for _ in seasonMatches:
        row = []
        for key in _.keys():
            if key == "competition":
                row.append(_[key]["competition_id"])
            elif key == "season":
                row.append(_[key]["season_id"])
            elif key == "home_team":
                row.append(_[key]["home_team_id"])
                # row.append(_[key]["home_team_name"])
            elif key == "away_team":
                row.append(_[key]["away_team_id"])
                # row.append(_[key]["home_team_name"])
            elif key == "competition_stage":
                row.append(_[key]["name"])
            elif key == "stadium":
                row.append(_[key]["name"])
            elif key == "referee":
                row.append(_[key]["name"])
            else:
                row.append(_[key])
        rows.append(row)
df_matches = pd.DataFrame(rows, columns = _.keys())
df_matches.to_csv("dataframes/df_matches.csv")

In [23]:
df_matches

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,attendance,...,play_status,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,3892940,2023-12-28,21:30:00.000,2,281,35,38,4,2,31675.0,...,Normal,available,available,2024-01-11T23:32:15.857250,2024-06-24T14:29:38.653431,"{'data_version': '1.1.0', 'shot_fidelity_versi...",19,Regular Season,The American Express Community Stadium,Jarred Gillett
1,3893056,2024-04-03,20:30:00.000,2,281,1,84,2,0,60262.0,...,Normal,available,available,2024-06-12T16:14:37.564911,2024-07-09T08:56:16.824609,"{'data_version': '1.1.0', 'shot_fidelity_versi...",31,Regular Season,Emirates Stadium,Craig Pawson
2,3892851,2023-10-29,16:00:00.000,2,281,35,55,1,1,31550.0,...,Normal,available,available,2023-12-18T05:29:13.260500,2024-06-11T21:00:15.806990,"{'data_version': '1.1.0', 'shot_fidelity_versi...",10,Regular Season,The American Express Community Stadium,Michael Salisbury
3,3893039,2024-04-24,21:00:00.000,2,281,29,24,2,0,38222.0,...,Normal,available,available,2024-06-30T11:25:00.923468,2024-07-09T11:21:21.073812,"{'data_version': '1.1.0', 'shot_fidelity_versi...",29,Regular Season,Goodison Park,Andy Madley
4,3892795,2023-09-17,16:00:00.000,2,281,28,33,0,0,10421.0,...,Normal,available,available,2024-06-10T22:24:55.021067,2024-06-10T22:27:09.442137,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,Regular Season,Vitality Stadium,David Coote
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,3837296,2023-03-01,22:00:00.000,2,235,24,46,2,0,53259.0,...,Normal,available,available,2023-05-12T10:17:34.156275,2023-06-20T15:04:16.987567,"{'data_version': '1.1.0', 'shot_fidelity_versi...",7,Regular Season,Anfield,Paul Tierney
576,3837281,2022-09-03,16:00:00.000,2,235,93,101,5,2,16946.0,...,Normal,available,available,2023-01-26T16:58:51.506929,2023-06-19T13:19:08.452188,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,Regular Season,Gtech Community Stadium,Robert Jones
577,3837264,2022-08-27,16:00:00.000,2,235,33,22,2,1,39953.0,...,Normal,available,available,2023-01-26T14:01:25.284691,2023-07-10T17:21:16.941977,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,Regular Season,Stamford Bridge,Paul Tierney
578,3837253,2022-08-20,16:00:00.000,2,235,55,93,3,2,21798.0,...,Normal,available,available,2022-08-21T23:07:23.998548,2023-06-20T09:48:58.729169,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,Regular Season,Craven Cottage (London),Peter Bankes
579,3837246,2022-08-15,21:00:00.000,2,235,24,31,1,1,52970.0,...,Normal,available,available,2023-03-20T18:46:19.344036,2023-06-20T18:02:41.975530,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,Regular Season,Anfield,Paul Tierney

### Lineups

In [24]:
for match_id, season_id in zip(df_matches.match_id, df_matches.season):
    with open("data/events/data/lineups/"+str(match_id)+".json","r") as file:
        fileData  = file.read()
        lineupMatch = json.loads(fileData)

In [25]:
lineupMatch[0].keys()

dict_keys(['team_id', 'team_name', 'lineup', 'formations', 'events'])

In [26]:
lineupMatch[0]["lineup"][0]["stats"]

{'own_goals': 0,
 'goals': 0,
 'assists': 0,
 'penalties_scored': 0,
 'penalties_missed': 0,
 'penalties_saved': 0}

In [27]:
len(lineupMatch)

2

In [28]:
type(lineupMatch)

list

In [29]:
type(lineupMatch[0])

dict

In [30]:
lineupMatch[0].keys()

dict_keys(['team_id', 'team_name', 'lineup', 'formations', 'events'])

In [31]:
for key in lineupMatch[0].keys():
    print(key, type(lineupMatch[0][key]))

team_id <class 'int'>
team_name <class 'str'>
lineup <class 'list'>
formations <class 'list'>
events <class 'list'>

In [32]:
len(lineupMatch[0]["lineup"])

20

In [33]:
type(lineupMatch[0]["lineup"][0])

dict

In [34]:
lineupMatch[0]["lineup"][0].keys()

dict_keys(['player_id', 'player_name', 'player_nickname', 'birth_date', 'player_gender', 'player_height', 'player_weight', 'jersey_number', 'country', 'positions', 'stats'])

### Players

In [35]:
rows = []
for match_id, season_id in zip(df_matches.match_id, df_matches.season):
    with open("data/events/data/lineups/"+str(match_id)+".json","r") as file:
        fileData  = file.read()
        lineupMatch = json.loads(fileData)
        
        for _ in lineupMatch:
            lineup = _["lineup"]
            for _ in lineup:
                row = []
                row.append(_["player_id"])
                row.append(_["player_name"])
                row.append(_["player_nickname"])
                row.append(_["birth_date"])
                row.append(_["player_height"])
                row.append(_["player_weight"])
                row.append(_["country"]["name"])
                rows.append(row)
                
df_players = pd.DataFrame(rows, columns = ["player_id","player_name","player_nickname","birth_date","player_height","player_weight","country"]).drop_duplicates()
df_players.to_csv("dataframes/df_players.csv")

In [36]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 22684
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_id        1000 non-null   int64
 1   player_name      1000 non-null   object
 2   player_nickname  276 non-null    object
 3   birth_date       999 non-null    object
 4   player_height    934 non-null    float64
 5   player_weight    800 non-null    float64
 6   country          1000 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 62.5+ KB

In [37]:
df_players.head()

,player_id,player_name,player_nickname,birth_date,player_height,player_weight,country
0,3083,Heung-Min Son,Son Heung-Min,1992-07-08,183.0,78.0,Korea (South)
1,3086,Ben Davies,None,1993-04-24,181.0,77.0,Wales
2,3280,Richarlison de Andrade,Richarlison,1997-05-10,184.0,83.0,Brazil
3,3313,Giovani Lo Celso,None,1996-04-09,177.0,68.0,Argentina
4,3570,Pierre-Emile Højbjerg,None,1995-08-05,187.0,84.0,Denmark

### Players x Team

In [38]:
rows = []
for match_id, season_id in zip(df_matches.match_id, df_matches.season):
    with open("data/events/data/lineups/"+str(match_id)+".json","r") as file:
        fileData  = file.read()
        lineupMatch = json.loads(fileData)
        
        for item in lineupMatch:
            lineup = item["lineup"]
            for _ in lineup:
                row = []
                row.append(season_id)
                row.append(item["team_id"])
                row.append(item["team_name"])
                row.append(_["player_id"])
                row.append(_["player_name"])
                row.append(_["player_nickname"])
                row.append(_["birth_date"])
                row.append(_["player_height"])
                row.append(_["player_weight"])
                row.append(_["country"]["name"])
                rows.append(row)
                
df_players_team = pd.DataFrame(rows, columns = ["season_id","team_id","team_name","player_id","player_name","player_nickname","birth_date","player_height","player_weight","country"]).drop_duplicates()
df_players_team.to_csv("dataframes/df_players_team.csv")

In [39]:
df_players_team.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1445 entries, 0 to 22899
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season_id        1445 non-null   int64
 1   team_id          1445 non-null   int64
 2   team_name        1445 non-null   object
 3   player_id        1445 non-null   int64
 4   player_name      1445 non-null   object
 5   player_nickname  420 non-null    object
 6   birth_date       1444 non-null   object
 7   player_height    1372 non-null   float64
 8   player_weight    1218 non-null   float64
 9   country          1445 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 124.2+ KB

In [40]:
df_players_team

,season_id,team_id,team_name,player_id,player_name,player_nickname,birth_date,player_height,player_weight,country
0,281,38,Tottenham Hotspur,3083,Heung-Min Son,Son Heung-Min,1992-07-08,183.0,78.0,Korea (South)
1,281,38,Tottenham Hotspur,3086,Ben Davies,None,1993-04-24,181.0,77.0,Wales
2,281,38,Tottenham Hotspur,3280,Richarlison de Andrade,Richarlison,1997-05-10,184.0,83.0,Brazil
3,281,38,Tottenham Hotspur,3313,Giovani Lo Celso,None,1996-04-09,177.0,68.0,Argentina
4,281,38,Tottenham Hotspur,3570,Pierre-Emile Højbjerg,None,1995-08-05,187.0,84.0,Denmark
...,...,...,...,...,...,...,...,...,...,...
22413,235,31,Crystal Palace,306238,Kofi Balmer,None,2000-09-19,183.0,78.0,Northern Ireland
22452,235,43,Nottingham Forest,34167,Loïc Badé,None,2000-04-11,191.0,89.0,France
22684,235,29,Everton,4835,Eldin Jakupovic,None,1984-10-02,191.0,85.0,Switzerland
22895,235,25,Southampton,3286,Nathan Redmond,None,1994-03-06,173.0,69.0,England
22899,235,25,Southampton,3950,Jack Stephens,None,1994-01-27,185.0,75.0,England

In [41]:
# players with 3 or more "teams" in 2 seasons
len(df_players_team.groupby("player_name").player_name.count()[df_players_team.groupby("player_name").player_name.count() >= 3])

22

In [42]:
df_players_team[df_players_team.player_name=="Cole Palmer"]

,season_id,team_id,team_name,player_id,player_name,player_nickname,birth_date,player_height,player_weight,country
171,281,33,Chelsea,39461,Cole Palmer,None,2002-05-06,182.0,74.0,England
4752,281,36,Manchester City,39461,Cole Palmer,None,2002-05-06,182.0,74.0,England
11940,235,36,Manchester City,39461,Cole Palmer,None,2002-05-06,182.0,74.0,England

### Events

In [43]:
all_events_columns = ["id","index","period","timestamp","minute","second","type", 'possession', 'possession_team', 'play_pattern', 'obv_for_after', 'obv_for_before', 'obv_for_net', 'obv_against_after', 
                      'obv_against_before', 'obv_against_net', 'obv_total_net', 'team', "player", "position", "location",'duration', "under_pressure","counterpress",'related_events',"pass","duel","clearance","out",
                      "tactics","carry","ball_receipt","off_camera","block","goalkeeper","shot","dribble","interception","50_50","foul_won","ball_recovery","miscontrol","foul_committed","bad_behaviour","substitution",
                      "injury_stoppage","player_off","half_start"]

In [44]:
# estas son las seleccionadas para crear el df_events
columns = ["id","index","period","timestamp","minute","second","type","team","player","position","location","duration","under_pressure",
          "obv_for_after","obv_for_before","obv_for_net","obv_against_after","obv_against_before","obv_against_net","obv_total_net"]

to_check = []

not_considered = ["possession","possession_team","play_pattern","off_camera","out","related_events","tactics","substitution","injury_stoppage","player_off","half_start",
                  "50_50","bad_behavior","ball_receipt","ball_recovery","block","carry","clearance","dribble","pass","duel","foul_committed","foul_won","goalkeeper","interception","miscontrol","shot","conterpress"]

# event_type_obv = ["Carry","Ground Pass","High Pass","Low Pass","Dribble","Shot","Goalkeeper Collection","Block","Tackle","Interception","Clearance","Goalkeeper Sweep","Goalkeeper Save","Foul Committed","Goalkeeper Concede"]
event_type_obv = ["Carry","Pass","Dribble","Shot","Goal Keeper","Block","Interception","Clearance","Foul Committed"]

print(len(all_events_columns), len(columns), len(to_check), len(not_considered))

48 20 0 28

In [45]:
rows = []
for match_id, season_id in zip(df_matches.match_id, df_matches.season):
    with open("data/events/data/events/"+str(match_id)+".json","r") as file:
        fileData  = file.read()
        eventsMatch = json.loads(fileData)
        
        
        for event in eventsMatch:
            row = []
            for key in columns: # event.keys():
                if key == "id":
                    idx = event[key]
                elif key == "index":
                    index = event[key]
                elif key == "period":
                    period = event[key]
                elif key == "timestamp":
                    timestamp = event[key]
                elif key == "minute":
                    minute = event[key]
                elif key == "second":
                    second = event[key]
                elif key == "type":
                    typex = event[key]["name"]
                elif key == "team":
                    team = event[key]["name"]
                elif key == "player":
                    try:
                        player = event[key]["name"]
                    except:
                        player = np.nan
                elif key == "position":
                    try:
                        position = event[key]["name"]
                    except:
                        position = np.nan
                elif key == "location":
                    try:
                        location = event[key]   
                    except:
                        location = np.nan
                elif key == "duration":
                    try:
                        duration = event[key]
                    except:
                        duration = np.nan
                elif key == "under_pressure":
                    try:
                        under_pressure = event[key]
                    except:
                        under_pressure = np.nan
                elif key == "obv_for_after":
                    obv_for_after = event[key]
                elif key == "obv_for_before":
                    obv_for_before = event[key]
                elif key == "obv_for_net":
                    obv_for_net = event[key]
                elif key == "obv_against_after":
                    obv_against_after = event[key]
                elif key == "obv_against_before":
                    obv_against_before = event[key]
                elif key == "obv_against_net":
                    obv_against_net = event[key]
                elif key == "obv_total_net":
                    obv_total_net = event[key]
                else:
                    pass    
                    
            
            row = [idx, index, match_id, period, timestamp, minute, second, typex, team, player, position, location, duration, under_pressure, obv_for_after, obv_for_before, obv_for_net, obv_against_after, obv_against_before,
                   obv_against_net, obv_total_net]
                    
            rows.append(row)

columns_events = ["id","index","match_id","period","timestamp","minute","second","type","team","player","position","location","duration","under_pressure",
                  "obv_for_after","obv_for_before","obv_for_net","obv_against_after","obv_against_before","obv_against_net","obv_total_net"]
            
df_events = pd.DataFrame(rows, columns=columns_events)
df_events.to_csv("dataframes/df_events.csv")

In [46]:
len(rows)

2079181

In [47]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079181 entries, 0 to 2079180
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  object
 1   index               int64
 2   match_id            int64
 3   period              int64
 4   timestamp           object
 5   minute              int64
 6   second              int64
 7   type                object
 8   team                object
 9   player              object
 10  position            object
 11  location            object
 12  duration            float64
 13  under_pressure      object
 14  obv_for_after       float64
 15  obv_for_before      float64
 16  obv_for_net         float64
 17  obv_against_after   float64
 18  obv_against_before  float64
 19  obv_against_net     float64
 20  obv_total_net       float64
dtypes: float64(8), int64(5), object(8)
memory usage: 333.1+ MB

In [48]:
df_events.head()

,id,index,match_id,period,timestamp,minute,second,type,team,player,...,location,duration,under_pressure,obv_for_after,obv_for_before,obv_for_net,obv_against_after,obv_against_before,obv_against_net,obv_total_net
0,dcac0a90-2c60-44b1-986b-5ae8b9463547,1,3892940,1,00:00:00.000,0,0,Starting XI,Brighton & Hove Albion,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a4d4d3f3-b97e-4552-afcb-fb3f4c6629c6,2,3892940,1,00:00:00.000,0,0,Starting XI,Tottenham Hotspur,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ae2142f8-c032-4eec-b9ac-dcf8b7043b7c,3,3892940,1,00:00:00.000,0,0,Half Start,Brighton & Hove Albion,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,facb8472-8b21-47fb-ba30-1fa4cf1aac32,4,3892940,1,00:00:00.000,0,0,Half Start,Tottenham Hotspur,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c4dfd70c-4c0e-4ab3-a446-d11c8ce01866,5,3892940,1,00:00:00.706,0,0,Pass,Tottenham Hotspur,Richarlison de Andrade,...,"[61.0, 40.1]",0.928628,NaN,0.017094,0.006829,0.010265,0.010329,0.009691,0.000638,0.009627

In [49]:
df_events_obv = df_events[~df_events.obv_for_after.isna()]
df_events_obv.to_csv("dataframes/df_events_obv.csv")

In [50]:
df_events_obv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1168714 entries, 4 to 2079176
Data columns (total 21 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1168714 non-null  object
 1   index               1168714 non-null  int64
 2   match_id            1168714 non-null  int64
 3   period              1168714 non-null  int64
 4   timestamp           1168714 non-null  object
 5   minute              1168714 non-null  int64
 6   second              1168714 non-null  int64
 7   type                1168714 non-null  object
 8   team                1168714 non-null  object
 9   player              1168714 non-null  object
 10  position            1168714 non-null  object
 11  location            1168709 non-null  object
 12  duration            1168714 non-null  float64
 13  under_pressure      308025 non-null   object
 14  obv_for_after       1168714 non-null  float64
 15  obv_for_before      1168634 non-null  float64
 16  obv_for_net         1168634 non-null  float64
 17  obv_against_after   1168639 non-null  float64
 18  obv_against_before  1168290 non-null  float64
 19  obv_against_net     1168290 non-null  float64
 20  obv_total_net       1168285 non-null  float64
dtypes: float64(8), int64(5), object(8)
memory usage: 196.2+ MB

In [51]:
df_events_obv.head()

,id,index,match_id,period,timestamp,minute,second,type,team,player,...,location,duration,under_pressure,obv_for_after,obv_for_before,obv_for_net,obv_against_after,obv_against_before,obv_against_net,obv_total_net
4,c4dfd70c-4c0e-4ab3-a446-d11c8ce01866,5,3892940,1,00:00:00.706,0,0,Pass,Tottenham Hotspur,Richarlison de Andrade,...,"[61.0, 40.1]",0.928628,NaN,0.017094,0.006829,0.010265,0.010329,0.009691,0.000638,0.009627
6,f3e8dc3d-f6e8-4346-befb-98a6a14999ad,7,3892940,1,00:00:01.635,0,1,Carry,Tottenham Hotspur,Pierre-Emile Højbjerg,...,"[50.8, 40.4]",1.483939,NaN,0.016586,0.017094,-0.000507,0.010111,0.010329,-0.000218,-0.000289
7,1760199f-dd66-4e5d-80b0-51a904525318,8,3892940,1,00:00:03.119,0,3,Pass,Tottenham Hotspur,Pierre-Emile Højbjerg,...,"[51.0, 34.5]",0.838730,NaN,0.012821,0.016586,-0.003765,0.011579,0.010111,0.001468,-0.005233
9,6031af57-dc8f-43d7-ad3b-deaa580a1d72,10,3892940,1,00:00:03.958,0,3,Carry,Tottenham Hotspur,Iyenoma Destiny Udogie,...,"[49.3, 18.4]",3.117527,True,0.013608,0.012821,0.000786,0.010002,0.011579,-0.001576,0.002363
11,5c90bacf-5237-488b-a956-baf24de04cd7,12,3892940,1,00:00:07.075,0,7,Pass,Tottenham Hotspur,Iyenoma Destiny Udogie,...,"[50.4, 7.5]",1.485436,NaN,0.013647,0.013608,0.000040,0.010654,0.010002,0.000651,-0.000612

In [52]:
players = df_events.player.unique()

### Positions

In [53]:
df_events

,id,index,match_id,period,timestamp,minute,second,type,team,player,...,location,duration,under_pressure,obv_for_after,obv_for_before,obv_for_net,obv_against_after,obv_against_before,obv_against_net,obv_total_net
0,dcac0a90-2c60-44b1-986b-5ae8b9463547,1,3892940,1,00:00:00.000,0,0,Starting XI,Brighton & Hove Albion,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a4d4d3f3-b97e-4552-afcb-fb3f4c6629c6,2,3892940,1,00:00:00.000,0,0,Starting XI,Tottenham Hotspur,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ae2142f8-c032-4eec-b9ac-dcf8b7043b7c,3,3892940,1,00:00:00.000,0,0,Half Start,Brighton & Hove Albion,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,facb8472-8b21-47fb-ba30-1fa4cf1aac32,4,3892940,1,00:00:00.000,0,0,Half Start,Tottenham Hotspur,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c4dfd70c-4c0e-4ab3-a446-d11c8ce01866,5,3892940,1,00:00:00.706,0,0,Pass,Tottenham Hotspur,Richarlison de Andrade,...,"[61.0, 40.1]",0.928628,NaN,0.017094,0.006829,0.010265,0.010329,0.009691,0.000638,0.009627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079176,7127936f-779c-43b3-9346-f58ec2d7953e,3825,3837246,2,00:50:55.327,95,55,Pass,Liverpool,Trent Alexander-Arnold,...,"[18.8, 76.9]",1.340998,True,0.009854,0.008747,0.001107,0.012116,0.015065,-0.002949,0.004056
2079177,62d8a457-4a24-4b55-aa62-8dbb0bc5714e,3826,3837246,2,00:50:56.668,95,56,Ball Receipt*,Liverpool,Fábio Henrique Tavares,...,"[21.1, 67.2]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2079178,7d40274a-47ca-43d7-8013-6f1c381cfbe3,3827,3837246,2,00:50:56.668,95,56,Pass,Liverpool,Fábio Henrique Tavares,...,"[21.1, 67.2]",2.442647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2079179,d1483faf-dd1e-4da4-bc13-59f7d8fb1e63,3828,3837246,2,00:51:00.123,96,0,Half End,Liverpool,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2079180,e5f73e1f-5347-4b6a-ab64-b5e90f45954d,3829,3837246,2,00:51:00.123,96,0,Half End,Crystal Palace,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079181 entries, 0 to 2079180
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  object
 1   index               int64
 2   match_id            int64
 3   period              int64
 4   timestamp           object
 5   minute              int64
 6   second              int64
 7   type                object
 8   team                object
 9   player              object
 10  position            object
 11  location            object
 12  duration            float64
 13  under_pressure      object
 14  obv_for_after       float64
 15  obv_for_before      float64
 16  obv_for_net         float64
 17  obv_against_after   float64
 18  obv_against_before  float64
 19  obv_against_net     float64
 20  obv_total_net       float64
dtypes: float64(8), int64(5), object(8)
memory usage: 333.1+ MB

In [55]:
df_events.position.unique()

array([nan, 'Center Forward', 'Left Defensive Midfield', 'Left Back',
       'Right Center Forward', 'Left Center Back', 'Right Center Back',
       'Goalkeeper', 'Left Center Forward', 'Center Attacking Midfield',
       'Left Wing', 'Center Defensive Midfield', 'Right Wing',
       'Left Center Midfield', 'Right Back', 'Right Defensive Midfield',
       'Right Center Midfield', 'Right Midfield', 'Left Midfield',
       'Left Attacking Midfield', 'Right Wing Back', 'Center Back',
       'Left Wing Back', 'Right Attacking Midfield', 'Substitute',
       'Center Midfield'], dtype=object)

In [56]:
len(df_events.position.unique())

26

In [57]:
dict_new_positions = {"Goalkeeper": "Goalkeeper",
                      "Right Back": "Right Back",
                      "Right Wing Back": "Right Back",
                      "Left Back": "Left Back",
                      "Left Wing Back": "Left Back",
                      "Right Center Back": "Right Center Back",
                      "Left Center Back": "Left Center Back",
                      "Left Defensive Midfield": "Defensive Midfield",
                      "Center Defensive Midfield": "Defensive Midfield",
                      "Right Defensive Midfield": "Defensive Midfield",
                      "Left Center Midfield": "Center Midfield",
                      "Right Center Midfield": "Center Midfield",
                      "Center Midfield": "Center Midfield",
                      "Center Attacking Midfield": "Attacking Midfield",
                      "Left Attacking Midfield": "Attacking Midfield",
                      "Right Attacking Midfield": "Attacking Midfield",
                      "Left Wing": "Left Wing",
                      "Left Midfield": "Left Wing",
                      "Right Wing": "Right Wing",
                      "Right Midfield": "Right Wing",
                      "Center Forward": "Center Forward",
                      "Right Center Forward": "Center Forward",
                      "Left Center Forward": "Center Forward" 
                     }

In [58]:
df_aux = df_events[~df_events.position.isin([np.nan, "Substitute"])][["id","player","position"]].copy()
df_aux["position"] = df_aux["position"].replace(dict_new_positions)
df_positions_pivot = df_aux.pivot_table(index=["player", "position"], values=["id"], aggfunc = ["count"]).reset_index()